@charset "utf-8";
@import url(./reset.css);
@import url(./typing-game.css);

:root {
	--app-background-colour: #40404e;
}

.container {
  width: min(1080px, 100% - 30px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.center {
	display: flex;
	justify-content: center;
  align-items: center;  
}

a {
	color: inherit;
	text-decoration: inherit;
}

body {
	background-color: var(--app-background-colour);
	background-image: url(../img/todd-jiang-uFbmTCtLkqg-unsplash.jpg); /* Image is definitely too large but I have no time*/
	background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
	width: 100vh;
	height: 100vh;

	overflow: hidden;
}

main { /*TEMP*/
	padding: 100px;
}