@charset "utf-8";
@import url(./reset.css);
@import url(./typing-game.css);

:root {
	--app-background-colour: #40404e;
}

.container {
  width: min(1080px, 100% - 30px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.center {
	display: flex;
	justify-content: center;
  align-items: center;  
}

a {
	color: inherit;
	text-decoration: inherit;
}

body {
	background-color: var(--app-background-colour);
}

main { /*TEMP*/
	margin: 100px;
}